.footer a{
    text-decoration:none;
    color:black;
}

.footer i{
    padding-right:1rem;
}

.footer{
    padding:2rem;
    display:flex;
    flex-direction:column
}

.footer h3{
    margin:0 0 1rem 0;
    padding:0;
    font-size:1.5rem;
}

.footer p{
    margin:0;
    padding:0;
}



.footer-sources{
    padding-bottom:2rem;
    border-bottom:1px solid rgba(128,128,128,0.5);
}

.footer-students-list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    font-size:1.25rem;
    margin:0;
}

.footer-links{
    display:flex;
    gap:2rem;
    justify-content:center;
    font-size:2rem;
    padding:0;
    
}

.footer-students{
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-students-list, a{
    padding-left:0;
}


.footer-students-info, .footer-links-site{
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-students-info{
    gap:10px;
    background-color:white;
    color:black;
    border-radius:10px;
    padding:1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-students-list, a{
    padding-top:1rem;
    padding-bottom:1rem;
}



@media screen and (min-width: 900px){
    .footer{
        flex-direction:row;
        gap:3rem;
        padding-top:3rem;
        padding-bottom:3rem;
    }
    .footer-sources{
        width:30%;
        border:0;
    }
    .footer-links{
        flex-direction:column;
        padding:0;
        margin:0;
    }
    .footer-students-list{
        margin:0;
        padding:0;
    }

}